body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.error {
  color: red !important;
  display: block !important;
  margin-top: 5px !important;
}

/* Header Styling*/

h1 {
  font-size: 2em;
  color: #000000;
  margin: 0;
  padding: 1em;
  text-align: center;
  background: linear-gradient(to right, #e0dad8, #9a9794);
}

nav {
  background-color: #393434;
  color: #fff;
  border-radius: 5px;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
  padding: 0;
  margin: 0;
}

.nav-list li {
  display: flex;
}

.nav-list a {
  text-decoration: none;
  color: white;
  padding: 0.75em 1em;
  transition: background 0.3s ease;
}

.nav-list a:hover {
  background-color: #b29f9f;
  border-radius: 5px;
}

/*Footer Styling */

footer {
  background: linear-gradient(to right, #227f87, #4bc9a3);;
  padding: 2em 0;
  margin-top: 2em;
}

.container {
  display: flex;
  flex-direction: column;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 2em;
  padding: 0;
  margin: 0;
}

.footer-list li {
  display: flex;
}

.footer-list a {
  text-decoration: none;
  color: rgb(52, 30, 30);
  padding: 0.75em 1em;
  transition: background 0.3s ease;
}

.footer-list a:hover {
  background-color: #846c6c;
  border-radius: 5px;
}